*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width:100%;
}

nav > ul{
   text-align: center;
   border: 1px solid #3232;
   border-radius: 4px;
   font-size: 20px;
   background-color: #3232;
   padding: 20px;
   margin: auto;
}

nav > ul > li{
    display: inline;
    margin: auto;
    padding: 80px;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    
}


/* for the image in the header */
.topimi{
    width: 180px;
   
}


/* for h2 class in the about section */

#about{
   text-align: justify;  
   
    width: 400px;
    margin: auto;
    
}

/* for all tags inside the protfolio section */
.pro1{
   
    display: flex;
    width: 1000px;
    margin: auto;
}

/* for all images under the portfolio section */
.pro2{
  
    margin: 30px;
}

/* for section image 3 */
.im3{
    height: 190px;
    width: 310px;
}

/* contact section */
#contact{
    text-align: center;
    margin: auto;
}

/* section for header */


/* section for header */
.afro{
   
    margin: 30px;
   
    
}
/* section for header */
.all{
    display: flex;
   
    align-items: center;
   
   margin:40px auto;
    
    
    
    
}

footer{
    text-align: center;
    border: 1px solid #3232;
    border-radius: 3px;
   background-color: #3232;
    margin: auto;
    padding: 10px;
}

/* all sections */
section{
    font-size: 20px;
    font-weight: 20px;
    margin: auto;
}

/* section class firm */
.firm{
    width: 500px;
    margin: auto;
    align-items: center;

}